flows.json
[{"id":"5769a768.c37bb8","type":"tab","label":"Raspberry Befehle","disabled":false,"info":""},{"id":"eb4be206.d09e5","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"70a3ffb5.e4f3","type":"debug","z":"eb4be206.d09e5","name":"MQTT Broker Debug","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":40,"wires":[]},{"id":"b473085f.afff78","type":"aedes broker","z":"eb4be206.d09e5","name":"MQTT Broker","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":100,"y":40,"wires":[["70a3ffb5.e4f3"]]},{"id":"809ac089.454cc","type":"exec","z":"5769a768.c37bb8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":340,"y":260,"wires":[[],[],[]]},{"id":"161ef354.7a1cdd","type":"inject","z":"5769a768.c37bb8","name":"Reboot starten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":260,"wires":[["809ac089.454cc"]]},{"id":"36784e8a.dd0772","type":"inject","z":"5769a768.c37bb8","name":"RPi ausschalten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["6ac0d212.8de2ac"]]},{"id":"6ac0d212.8de2ac","type":"exec","z":"5769a768.c37bb8","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Poweroff","x":340,"y":340,"wires":[[],[],[]]}]