flows.json
[{"id":"fa869c1e.80162","type":"tab","label":"Lüftungssteuerung","disabled":false,"info":""},{"id":"5769a768.c37bb8","type":"tab","label":"Raspberry Befehle","disabled":false,"info":""},{"id":"eb4be206.d09e5","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"cec71080.4d502","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lüftungssteuerung Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":8,"cy":8,"px":0,"py":0}}},{"id":"45111b29.92cd24","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1bd6dd20.e55003","type":"ui_group","name":"Außen","tab":"45111b29.92cd24","order":1,"disp":true,"width":"6","collapse":false},{"id":"851af369.1ba52","type":"mqtt-broker","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af088633.7a0428","type":"ui_spacer","name":"spacer","group":"205b98ca.2d0208","order":3,"width":1,"height":1},{"id":"606c4f5b.606d4","type":"ui_spacer","name":"spacer","group":"e612a781.269938","order":4,"width":1,"height":1},{"id":"f0b5ba34.3b1be8","type":"ui_group","name":"Außen Charts","tab":"45111b29.92cd24","order":2,"disp":true,"width":"6","collapse":false},{"id":"b473085f.afff78","type":"aedes broker","z":"eb4be206.d09e5","name":"MQTT Broker","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":100,"y":40,"wires":[[]]},{"id":"809ac089.454cc","type":"exec","z":"5769a768.c37bb8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":340,"y":260,"wires":[[],[],[]]},{"id":"161ef354.7a1cdd","type":"inject","z":"5769a768.c37bb8","name":"Reboot starten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":260,"wires":[["809ac089.454cc"]]},{"id":"36784e8a.dd0772","type":"inject","z":"5769a768.c37bb8","name":"RPi ausschalten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["6ac0d212.8de2ac"]]},{"id":"6ac0d212.8de2ac","type":"exec","z":"5769a768.c37bb8","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Poweroff","x":340,"y":340,"wires":[[],[],[]]},{"id":"a9c08f3a.9989f","type":"change","z":"fa869c1e.80162","name":"Temperatur filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["3756ce64.ff07a2","7ab214e3.f0f65c"]]},{"id":"3316a387.d9bd5c","type":"change","z":"fa869c1e.80162","name":"Feuchtigkeit filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":260,"wires":[["b2f51f9b.2aac9","a320141b.e43998"]]},{"id":"51a7546.1c09cac","type":"change","z":"fa869c1e.80162","name":"Taupunkt filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DewPoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":380,"wires":[["835bca2c.637088","1d22ed2.663e413"]]},{"id":"dde65b6a.7ec488","type":"mqtt in","z":"fa869c1e.80162","name":"","topic":"tasmota_aussen/SENSOR","qos":"2","datatype":"json","broker":"851af369.1ba52","x":150,"y":260,"wires":[["6167ad41.86c534"]]},{"id":"6167ad41.86c534","type":"change","z":"fa869c1e.80162","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"SHT3X-0x44\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["a9c08f3a.9989f","3316a387.d9bd5c","51a7546.1c09cac"]]},{"id":"3756ce64.ff07a2","type":"ui_gauge","z":"fa869c1e.80162","name":"Temperatur","group":"1bd6dd20.e55003","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":120,"wires":[]},{"id":"b2f51f9b.2aac9","type":"ui_gauge","z":"fa869c1e.80162","name":"Feuchtigkeit","group":"1bd6dd20.e55003","order":0,"width":0,"height":0,"gtype":"wave","title":"Feuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":240,"wires":[]},{"id":"835bca2c.637088","type":"ui_gauge","z":"fa869c1e.80162","name":"Taupunkt","group":"1bd6dd20.e55003","order":0,"width":0,"height":0,"gtype":"gage","title":"Taupunkt","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":360,"wires":[]},{"id":"7ab214e3.f0f65c","type":"ui_chart","z":"fa869c1e.80162","name":"","group":"f0b5ba34.3b1be8","order":3,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":160,"wires":[[]]},{"id":"a320141b.e43998","type":"ui_chart","z":"fa869c1e.80162","name":"","group":"f0b5ba34.3b1be8","order":3,"width":0,"height":0,"label":"Feuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":280,"wires":[[]]},{"id":"1d22ed2.663e413","type":"ui_chart","z":"fa869c1e.80162","name":"","group":"f0b5ba34.3b1be8","order":3,"width":0,"height":0,"label":"Taupunkt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":400,"wires":[[]]}]