flows.json
[{"id":"fa869c1e.80162","type":"tab","label":"Lüftungssteuerung","disabled":false,"info":""},{"id":"5769a768.c37bb8","type":"tab","label":"Raspberry Befehle","disabled":false,"info":""},{"id":"eb4be206.d09e5","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"cec71080.4d502","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lüftungssteuerung Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":8,"cy":8,"px":0,"py":0}}},{"id":"45111b29.92cd24","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1bd6dd20.e55003","type":"ui_group","name":"Innen","tab":"45111b29.92cd24","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d38b0ae.63435f","type":"ui_group","name":"Innen Charts","tab":"45111b29.92cd24","order":2,"disp":true,"width":"6","collapse":false},{"id":"70a3ffb5.e4f3","type":"debug","z":"eb4be206.d09e5","name":"MQTT Broker Debug","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":40,"wires":[]},{"id":"b473085f.afff78","type":"aedes broker","z":"eb4be206.d09e5","name":"MQTT Broker","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":100,"y":40,"wires":[["70a3ffb5.e4f3"]]},{"id":"809ac089.454cc","type":"exec","z":"5769a768.c37bb8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":340,"y":260,"wires":[[],[],[]]},{"id":"161ef354.7a1cdd","type":"inject","z":"5769a768.c37bb8","name":"Reboot starten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":260,"wires":[["809ac089.454cc"]]},{"id":"36784e8a.dd0772","type":"inject","z":"5769a768.c37bb8","name":"RPi ausschalten","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":340,"wires":[["6ac0d212.8de2ac"]]},{"id":"6ac0d212.8de2ac","type":"exec","z":"5769a768.c37bb8","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Poweroff","x":340,"y":340,"wires":[[],[],[]]},{"id":"6d59259f.b16c3c","type":"Bme280","z":"fa869c1e.80162","name":"Innenfühler","bus":"1","address":"0x76","topic":"bme280_innen","extra":true,"x":290,"y":220,"wires":[["a9c08f3a.9989f","3316a387.d9bd5c","8481fc19.0575b","51a7546.1c09cac"]]},{"id":"a9c08f3a.9989f","type":"change","z":"fa869c1e.80162","name":"Temperatur filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[["d6d5356f.77c718","9c3133c9.c66f5"]]},{"id":"3316a387.d9bd5c","type":"change","z":"fa869c1e.80162","name":"Feuchtigkeit filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["cded6a71.e586c8","d8ce0ed7.7279f"]]},{"id":"8481fc19.0575b","type":"change","z":"fa869c1e.80162","name":"Luftdruck filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure_hPa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["cf6ea41a.d09d58","a2c72e93.cdffb"]]},{"id":"d6d5356f.77c718","type":"ui_gauge","z":"fa869c1e.80162","name":"Temperatur","group":"1bd6dd20.e55003","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{msg.payload | number:2}}","min":"-20","max":"50","colors":["#ca3838","#00e626","#ca3838"],"seg1":"10","seg2":"25","x":710,"y":180,"wires":[]},{"id":"cded6a71.e586c8","type":"ui_gauge","z":"fa869c1e.80162","name":"Feuchtigkeit","group":"1bd6dd20.e55003","order":3,"width":0,"height":0,"gtype":"wave","title":"Feuchtigkeit","label":"%","format":"{{msg.payload | number:2}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"cf6ea41a.d09d58","type":"ui_gauge","z":"fa869c1e.80162","name":"Luftdruck","group":"1bd6dd20.e55003","order":5,"width":0,"height":0,"gtype":"gage","title":"Luftdruck","label":"hPa","format":"{{msg.payload | number:2}}","min":"500","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"79c09086.3dbf1","type":"ui_gauge","z":"fa869c1e.80162","name":"Taupunkt","group":"1bd6dd20.e55003","order":4,"width":0,"height":0,"gtype":"gage","title":"Taupunkt","label":"°C","format":"{{msg.payload | number:2}}","min":"-20","max":"50","colors":["#38ca38","#fcff33","#ca3838"],"seg1":"10","seg2":"15","x":700,"y":480,"wires":[]},{"id":"51a7546.1c09cac","type":"change","z":"fa869c1e.80162","name":"Taupunkt filtern","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dewPoint_C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["79c09086.3dbf1","c6c41c3e.e3c54"]]},{"id":"694cf084.7ffe5","type":"inject","z":"fa869c1e.80162","name":"Start","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":220,"wires":[["6d59259f.b16c3c"]]},{"id":"9c3133c9.c66f5","type":"ui_chart","z":"fa869c1e.80162","name":"Temperatur","group":"1d38b0ae.63435f","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":140,"wires":[[]]},{"id":"d8ce0ed7.7279f","type":"ui_chart","z":"fa869c1e.80162","name":"Feuchtigkeit","group":"1d38b0ae.63435f","order":2,"width":0,"height":0,"label":"Feuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":240,"wires":[[]]},{"id":"a2c72e93.cdffb","type":"ui_chart","z":"fa869c1e.80162","name":"Luftdruck","group":"1d38b0ae.63435f","order":4,"width":0,"height":0,"label":"Luftdruck","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":340,"wires":[[]]},{"id":"c6c41c3e.e3c54","type":"ui_chart","z":"fa869c1e.80162","name":"Taupunkt","group":"1d38b0ae.63435f","order":3,"width":0,"height":0,"label":"Taupunkt","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":440,"wires":[[]]}]